.game-table {
    width: 100%;
    max-width: 600px;

    & tr {
        background-color: #f7f7f7;
    }
    & thead th {
        height: 1em;
    }
    & tbody td {
        height: 30px;
    }
}

.game-table-status {
    width: 25px;
}
